<!DOCTYPE html>
<html>
<head>
	<title>signin page</title>


</head>
<body>
<div id="main">
	<header id="header">
		<div id="welCome"> Welcome to the sign-in page</div>
	</header>
	<div id="detail" >
	
	{% if from.errors %}
			<p>sorry. That's not a valid user</p>
	{% endif %}
	<form  method="post" action="{% url 'check' %}">{% csrf_token %}
			<label for="username"> user Name</label>
			<input type="text" id="user" name="username" placeholder="username"></input>
			<label for="password">password</label>
			<input type="password" id="user" name="password" placeholder="password"></input>
			<input type="submit" value ="login" ></input>
	</form>
	
	
	
	
</div>
</body>
</html>